/* Header style*/
header nav{
    position: absolute;
    z-index: 1;
}


/* Filter style */
#filter{
    position: relative;
    width: 100%;
    height: 0px;
    background-color: #7cb6ec;
    transition: all .2s ease-in-out;
}

#filter-items{
    position: relative;
    justify-content: center;
    transform: translateY(-37px);/* Should be 0 */
    padding-top: 3px;
    transition: all .2s ease-in-out;
    display: flex;
}

#filter #filter-items label{
    margin: 5px;
    margin-right: 5px;
    margin-left: 15px;
}

.form-control-sm{
    border: #ced4da !important;
    width: 50px;
}
