.row .margin {
    margin-top: 500px;
}

#filter{
    padding-top: 4px;
    width: 100%;
    height: 0; /* 0 */
    background-color: #7cb6ec;
    opacity: 0; /* 0 */
    transition-delay: 1s;
    transition: all .3s ease-in-out;
}